{# templates/contact/failure.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Oops!</h1>
    <p>Sorry, there was an error while sending your message. Please try again later.</p>
{% endblock %}
