{# templates/contact/success.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Thank You</h1>
    <p>Your message has been sent successfully. We will get back to you soon.</p>
{% endblock %}
