{% extends 'base.html.twig' %}

{% block body %}
<div>The current message is: </div>
<div>
    <b>
    <div>{{ message.message}}</div>
        {{ include('hello/_message.html.twig', {message:message})}}
    </b>
</div>
{% endblock %}

{% block title %}Title Changed!{% endblock %}
